@import "tailwindcss";

@font-face {
    font-family: "fuente";
    src: url("./fonts/DeliusSwashCaps-Regular.ttf") format("truetype");
}
@font-face {
    font-family: FuenteTextos;
    src: url("./fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}
@layer components{
.hand-underline {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #6b21a8; 
  cursor: pointer;
}

.hand-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 0%;
  height: 4px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10"><path d="M0 5 Q50 0 100 5" stroke= "black" stroke-width="2" fill="transparent"/></svg>') repeat-x;
  background-size: contain;
  transition: width 0.5s ease-in-out;
}


.hand-underline.active::after {
  width: 100%;
}
}
body{
    background: linear-gradient(180deg, #fce6f6 57%, #b683cc 100%);
}

